/* MessageContainer CSS */
.message-container {
    height: 350px;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}
  
.user-message .message-text {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: #093d70;
    border-radius: 10px;
    margin-top: 3px;
}

.user-message .from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
}